<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Movieflix</title>
  </head>

  <body>
    <!-- Your Code Goes Here -->

    <style>
      h1,
      p,
      a {
        color: white;
      }
    </style>
    <% if(term){ %>
    <h1><%= term %></h1>
    <p><%= line %></p>
    <% } else { %>
    <p><%= line %></p>
    <% } %>
    <a href="/">Home page</a>
  </body>
</html>
